<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>
  <script type="text/javascript">
    window.onload = function(){
      // var refButton = document.getElementById("btnButton");
      let newArticle = document.getElementById("new");
      let welcome = document.getElementById("welcome");
      let link = welcome ? '/create' : '/signin';
      newArticle.setAttribute('href', link);
      console.log(newArticle);
        // refButton.onclick = function() {
        //     alert('I am clicked!');
        // }
    };
  </script>
  <!-- <script>
  
    // let link = req.session.user ? '/new' : '/signin';
    newArticle.setAttribute('href', link);
  </script> -->
  <div class="container">
    <h1 class="mb-4">BlogaBloga</h1>
    <hr>
    <% if(req.session.user) {%>
      <h3 id="welcome">Welcome <%= req.session.user.name %> <h3>
    <% } else {%>
      <a href="/signin" class="btn btn-success">Login</a> <a href="/signup" class="btn btn-success">Sign up</a>
    <% } %> 
    
    <a href="" id="new" class="btn btn-success">New Article</a>
    <%posts.forEach(post => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= post.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <h6>By <%= post.name %></h5>
          </div>
          <div class="card-text mb-2">
            <h6>
              <%= (post.content).substring(0, 200) %> ...
            </h6>
            <!-- <a href="posts/<%= post.id %>" class="btn btn-primary">Read More</a> -->
          </div>
          <!-- <a href="articles/<%=  %>" class="btn btn-primary">Read More</a> -->
          <!-- <a href="/" class="btn btn-info">Edit</a>
          <form action="/articles/?_method=DELETE" method="POST" class="d-inline"> -->
            <!-- <button type="submit" class="btn btn-danger">Delete</button>
          </form> -->
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>